<ion-header>
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tasks</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
  <ion-item detail="true" lines="none">
    <ion-label>
      <h2>Join announcement channel</h2>
      <p>
        <ion-chip color="medium">
          TO COMPLETE
        </ion-chip>
      </p>
    </ion-label>
    <ion-note slot="end">+5 $VSFY</ion-note>
  </ion-item>
  <ion-item detail="true" lines="none">
    <ion-label>
      <h2>Publish 5 ads</h2>
      <p>
        <ion-chip color="medium">
          TO COMPLETE
        </ion-chip>
      </p>
    </ion-label>
    <ion-note slot="end">+50 $VSFY</ion-note>
  </ion-item>
  <ion-item detail="true" lines="none">
    <ion-label>
      <h2>Publish 10 ads</h2>
      <p>
        <ion-chip color="medium">
          TO COMPLETE
        </ion-chip>
      </p>
    </ion-label>
    <ion-note slot="end">+100 $VSFY</ion-note>
  </ion-item>
  <ion-item detail="true" lines="none">
    <ion-label>
      <h2>Publish 15 ads</h2>
      <p>
        <ion-chip color="medium">
          TO COMPLETE
        </ion-chip>
      </p>
    </ion-label>
    <ion-note slot="end">+10 $VSFY</ion-note>
  </ion-item>
  <ion-item detail="true" lines="none">
    <ion-label>
      <h2>Invite 1 friend</h2>
      <p>
        <ion-chip color="medium">
          TO COMPLETE
        </ion-chip>
      </p>
    </ion-label>
    <ion-note slot="end">+20 $VSFY</ion-note>
  </ion-item>
  <ion-item detail="true" lines="none">
    <ion-label>
      <h2>Invite 5 friends</h2>
      <p>
        <ion-chip color="medium">
          TO COMPLETE
        </ion-chip>
      </p>
    </ion-label>
    <ion-note slot="end">+50 $VSFY</ion-note>
  </ion-item>
</ion-list>
</ion-content>
